
<!-- Six Parallax Image with Portfolio Text -->
<div class="bgimg-6 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTATO</span>
  </div>
</div>



<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contato">
  <h3 class="w3-center">Para reservas entre em contato por telefone ou email</h3>
  <p class="w3-center"><em>Aguardamos seu contato</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-panel">
      <!-- Add Google Maps -->
        <div class="w3-right w3-center" id="map" style="width:100%;height:500px"></div>
  </div>

      <div class="w3-large w3-margin-bottom w3-center">
        <br><br><br><br><br>
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Campo Mourão, Paraná, BR<br>
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Ayolas - Coratei, Misiones, PY<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Fone: +55 (44) 9 9125-2424<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Fone: +55 (44) 3017-2424<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: marcaodeayolas@gmail.com<br>
      </div>
</div>
</div>